.padded-table th,
.padded-table td {
    padding: 4px;
}

.aligned-table th:first-child,
.aligned-table td:first-child {
    text-align: left;
}

.aligned-table th:not(:first-child),
.aligned-table td:not(:first-child) {
    text-align: right;
}
